<section class="sigup-form-control">
    <img src="https://images.unsplash.com/photo-1464131065363-9e30e13470f6?ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8M3x8fGVufDB8fHx8&ixlib=rb-1.2.1&w=1000&q=80">
    <div class="container">
        <div class="about-content">
            <h1>About us</h1>
            <p class="lead text-muted mb-0">E-Airline is based in Tamilnadu, India and one of India's leading online travel companies and<br> operates the website E-Airline.com. The company provides information, pricing, availability, and <br>booking facility for domestic and international air travel.</p>
        </div>
    </div>
</section>
